/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  background-color: #121212; /* Darker shade for better movie aesthetics */
  color: #ffffff;
  font-family: 'Roboto', sans-serif; /* A more modern, readable font */
}

/* Improved scrollbar for desktop */
::-webkit-scrollbar {
  width: 0px; /* Increased width for better access */
}
::-webkit-scrollbar-thumb {
  background: #2E2E2E; /* Subtle gray for minimalistic look */
  border-radius: 2px;
}

/* Responsive typography */
body {
  @apply text-base md:text-lg;
}
